body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f4; /* A light grey background */
    color: #010806c5;
}

h1 {
    color: #000000;
}

p {
    line-height: 1.6;
}